body, html, #app {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  /*overflow: hidden;*/
}

.pull-left { float: left; }
.pull-right { float: right; }
.hidden { display: none }

#app {
  text-align: center;
  width: 100%;
  height: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background: #222;
}

canvas {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

span {
  position: fixed;
  left: 1%;
  top: 1%;
  font-family: monospace;
}
